.idea/
**.pyc
**.webp

# day 24 files
Day24/MailMerge/Output/ReadyToSend/*.txt
Day24/UpgradedSnake/*.txt

#day 25 files
Day25/testing_panda/output.csv
Day25/testing_panda/squirrel_data.csv
Day25/us-states-game-start/states_to_learn.csv
Day29/saved_passwords.txt
