.idea/
**.pyc
**.webp

**/MailMerge/Output/ReadyToSend/*.txt
**/UpgradedSnake/*.txt
**/testing_panda/output.csv
**/testing_panda/squirrel_data.csv
**/us-states-game-start/states_to_learn.csv
**/saved_passwords.json
**/words_to_learn.csv
**/spanish_freq_list.json
